<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Niranjan Automation Suite">
<listeners>
<listener class-name="com.seleniumprojectniranjan.qa.listeners.mylisteners"/>
</listeners>
  <test name="Niranjan Automation Tests">
    <classes>
      <class name="com.seleniumprojectniranjan.qa.testcases.LoginTest"/>
      <class name="com.seleniumprojectniranjan.qa.testcases.RegisterTest"/>
      <class name="com.seleniumprojectniranjan.qa.testcases.ProductsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
